
body {
	background-color:#b8b5b5;
}
header, section, footer {
  max-width:800px;
  min-height: 100%;
	background-color: #FFFFFF;
	margin:auto;
}

header {
	height:55.97px;
}


footer {
	height:70px;
	text-align:center;
}

.aviso {
	padding:10px;
	background-color:#FF0000;
	border:2px solid #FFFFFF;
	margin:10px;
}
.menu{
  padding-bottom:10px;
}

.corpoView{
  position:relative;
  top:1px;
  left:2px;  
  padding-bottom: 4px;

}
.centralizar-texto{
  text-align:center;
}

.btn-remover{
  font-size: 7px;
}

.cartao{
    position: relative;
    border-width:2px;
    width:650px;
    height: auto;
    left:0px;
    float: left;
}

.acao{
    position:relative;
    border-width:2px;
    width:auto;
    height: 100%;
    float: left;
	background-color: #55595c;
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.btn-acao{
	width: 100px;
}